{% extends 'store/main.html' %} {% load static %} {% block content %}

<div class="row">
  <div class="col-md-12">
    <h1>Collections</h1>
    <hr />
    <div class="row">
      {% for category in categories %}
      <div class="col-md-3">
        <div class="card">
          <a
            style="text-decoration: none"
            href="{% url 'products' category.slug %}"
          >
            <div class="card-body">
              <div class="category-image">
                <img
                  class="w-100"
                  src="{{category.imageURL}}"
                  alt="category image"
                />
              </div>
              <h4 class="text-center">{{category.title}}</h4>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
